*{
	margin: 0;
	padding: 0;
}
.logo img{vertical-align: baseline;margin-top: 25px;}
.top{
	background-color: #2a4748f7;
    height: 50px;
}
.row{
	margin: 0;
	background-color: white;
}
.logo{
	float:right;
}
.affix{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100 !important;
	width: 100%;
}
.header{
	height: 200px;
    background-color: #2a4748f7;
}
.navbar-brand > span{
	color: orange;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 600;
}
.navbar-brand{
	margin-top: 10px;
    font-size: 35px;
    color: #17ca0d;
    float: none;
    font-weight: 600;
    font-family: cursive;
}
.navbar .navbar-nav{
	margin-top: 20px;
}
.btn1{
	display: inline-block;
}
.btn2{
	display: inline-block;
}
.btn1 .btn{
	background-color: #116365;
}
.btn1 .btn:hover,.btn1 .btn:focus{
	border:1px solid #116365;
	background-color: transparent;
	color: #116365;
	transition: 0.5s;
	outline: none;
}
.btn2 .btn:hover,.btn2 .btn:focus{
	border:1px solid #3d5218;
	background-color: transparent;
	color: #3d5218;
	transition: 0.5s;
	outline: none;
}
.btn2 .btn{
	background-color: #3d5218;
}
.col-lg-3 .btn{
	padding: 18px 30px;
    border-radius: 40px;
    font-size: 18px;
    line-height: 8px;
    margin-top: 16px;
    cursor: pointer;
    transition: 0.5s;
}
#myModal2 .form-control{
	margin-bottom: 15px;
}
.modal-title-1{
	text-align: center;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #116365;
}
.btn-center{
	margin: auto;
	display: block;
    margin-top: 10px;
}
label{
	padding: 10px;
    text-transform: capitalize;
}
.heading{
	text-align: center;
    font-size: 32px;
    font-weight: bold;
    color:#2a4748f7 ;
    position: relative;
}
.heading::before{
	content: '';
	background-color:#2a4748f7;
	height: 1px;
	position: absolute;
	width: 85px;
	transform: translate(-50%,-50%);
	top:100%;
	left: 50%; 
}
/*--------------footer--------------*/
.foothead{
	font-size: 28px;
    padding: 6px;
	display: inline-block;
    margin-left: 200px;
    font-weight: bold;
    color: #17ca0d;
    letter-spacing: 1px;
    font-family: cursive;
}
.foothead span{
	color: orange;
}
.contact{
	display: inline;
    font-size: 22px;
    margin-left: 70px;
    color: #2a4748f7;
}
.contact .fa{
	background-color: #2a4748f7;
    padding: 5px;
    color: white;
    display: inline-block;
   	border-radius: 5px;
    font-size: 20px;
}
.list{
	display: inline-block;
	margin-left: 50px;
}
.list .list-inline li{
	background-color: #2a4748f7;
    padding: 8px;
    color: white;
    display: inline-block;
   	border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
}
.list .list-inline li:hover,.list .list-inline li:focus{
	border:1px solid #2a4748f7;
	color:#2a4748f7;
	background-color: transparent; 
}
.end{
	height: 30px;
	background-color: black;
	color:white;
	text-align: center;
	opacity: 0.8;
}
.end span{
	display: block;
	padding: 5px;
}